.containerContent {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;
    position: relative;
}
#circlesPage1 {
    position: absolute;
    width: 15vw;
    height: 28vh;
    border-radius: 50%;
    transform: translate(-40vw, 70vh);
    background: linear-gradient(45deg, #294729, transparent 900%);
    /*background-image: linear-gradient(45deg, #635e5dfb, #f55d0546);*/
}

#circlesPage2 {
    position: absolute;
    width: 15vw;
    height: 28vh;
    border-radius: 50%;
    transform: translate(-40vw, 47vh);
    background: linear-gradient(45deg, #2b7e1f, transparent 200%);
}

#circlesPage3 {
    position: absolute;
    width: 15vw;
    height: 28vh;
    border-radius: 50%;
    transform: translate(-40vw, 25vh);
    background: linear-gradient(45deg, #6fbf5c, transparent 90%);
}
.circle-container {
    margin: 6.7vh auto;
    width: 39vw;/* Diâmetro do círculo */
    height: 85vh;/* Diâmetro do círculo */
    border: 50px solid #00000000;/* Para visualização */
    border-radius: 50%;
    transition: transform 0.3s;
    z-index: 1;
    
}
#fotoContent img{
    border-radius: 47%;
    transform: translate(-3.7vw, -8.2vh);
    z-index: 1;
}
#fotoContent img {
    width: 39vw;
    height: 85vh;
}
.textcontent{
    position: absolute;
    margin: 10vh 0 0 45vw;
}
.textcontent h6::after {
    content: " ";
    width: 0;
    height: 2vh;
    background-image: linear-gradient(45deg, #6fbf5c, #2b7e1f);
    position: absolute;
    top: 4.5vh;
    left: 0;
    border-radius: 4px;
    transition: width 0.5s;
}

.textcontent h6:hover::after {
    width: 21vw;
}
h6{
    font-size: 1.7vw;
}
.icon {
    position: absolute;
    width: 40px;/* Ajuste o tamanho dos ícones */
    height: 40px;/* Ajuste o tamanho dos ícones */
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    text-decoration: none;

}
.icon:hover i {
    transform: scale(1.2);
    transition: transform 0.3s;
}

/* Calculando o posicionamento dos ícones */
.icon:nth-child(1) {transform: translate(12px, -30px);}

.icon:nth-child(2) {transform: translate(-92px, 81px);}

.icon:nth-child(3) {transform: translate(-103px, 230px);}

.icon:nth-child(4) {transform: translate(-50px, 370px);}


@media (max-width: 1164px){
    
    h6{
        font-size: 2vw;
    }
}
@media (max-width: 992px){
    .icon:nth-child(1) {transform: translate(-30px, -35px);}

    .icon:nth-child(2) {transform: translate(-100px, 81px);}

    .icon:nth-child(3) {transform: translate(-103px, 230px);}

    .icon:nth-child(4) {transform: translate(-60px, 370px);}
    h6{
        font-size: 2.4vw;
    }
   
}







