.containerContent{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
   
    
    
}
.circle-container { 
    margin-top: 5vh;
    position: absolute;
    width: 500px;  /* Diâmetro do círculo */
    height: 500px; /* Diâmetro do círculo */
    border: 50px solid #000000cb; /* Para visualização */
    border-radius: 50%;
}

.icon {
    position: absolute;
    width:40px; /* Ajuste o tamanho dos ícones */
    height: 40px; /* Ajuste o tamanho dos ícones */
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    
}

/* Calculando o posicionamento dos ícones */
.icon:nth-child(1) { transform: translate(-10px, -40px); }
.icon:nth-child(2) { transform: translate(-100px, 81px); }
.icon:nth-child(3) { transform: translate(-120px, 230px); }
.icon:nth-child(4) { transform: translate(-70px, 370px); }
.icon:nth-child(5) { transform: translate(430px, 365px); }


