.containerfooter{
    display: flex;
    height: 6.5vh;
    justify-content: center;
    align-items: center;
    background-color:rgb(41, 71, 41, 0.9);
}
.menufooter p{
    margin: 1vh;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}
