.templates{
    display: flex;
    justify-content: center;

}

.botoes{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column; 
    margin: 10px;
    margin-top: 80px;
    width: 5%;
}
.botoes:hover{
    cursor: pointer;
}
