*{
  box-sizing: border-box;
  color: rgb(247, 247, 247);
  font-family: Dosis;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  
}
#root{
  background-color: #070600;
}
a{
  color: aliceblue;
}